@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway-Bold";
  src: url(../fonts/raleway-bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway-Italic";
  src: url(../fonts/raleway-italic.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Variables */
:root{
  --bleu : rgb(23, 171, 179);
  --noir : rgb(51, 51, 51);
  --gris-1 : rgb(227, 227, 227);
  --gris-2 : rgb(245, 245, 245);
  --blanc : rgb(255, 255, 255);
}
/* GLOBAL*/
*{
  box-sizing: border-box;
}
body{
  font-family: "Lato";
  max-width: 1160px;
  margin: auto;
}

main{
  display: flex;
}
aside{
  width: 30%;
  background-color: var(--gris-1);
  padding-left: 2rem;
}
section{
  width: 70%;
  background-color: var(--blanc);
  padding-left: 2rem;
}
h1{
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
h2{
  font-family: "Raleway";
  color: var(--bleu);
  
}
header h2{
  color: var(--blanc);
}
/* HEADER */

img{
  margin: auto;
}
header{
  display: flex;
  align-items: center;
  background-color: var(--bleu);
  color: var(--blanc);
}
.header{
  display: flex;
  flex-direction: column;
  margin: auto;
}
/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  background-color: var(--bleu);
  color: var(--blanc);
}
footer p{
  display: flex;
  justify-content: center;
}
footer img{
  width: 5%;
  margin: 0;
}
.footer{
  display: flex;
  justify-content: center;
}