@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.ttf) format(truetype);
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Raleway-Italic";
  src: url(../fonts/Raleway-Italic.ttf) format(truetype);
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Raleway-Bold";
  src:url(../fonts/Raleway-Bold.ttf) format(truetype);
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root{
  --bleu : rgb(23, 171, 179);
  --noir : rgb(51, 51, 51);
  --gris-1 : rgb(227, 227, 227);
  --gris-2 : rgb(245, 245, 245);
  --blanc : rgb(255, 255, 255);
}

/* GLOBAL*/

*{
  box-sizing: border-box;
}

p{
  font-family: "Raleway";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body{
  max-width: 1160px;
  margin:0 auto;
  font-family: "Lato";
}

main{
  display: flex;
}

aside{
  width: 30%;
  background-color: var(--gris-2);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
}

section{
  width: 70%;
  background-color: var(--blanc);
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
}

h2{
  font-family: "Lato";
  font-weight: 400;
  color: var(--bleu);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3{
  font-family: "Lato";
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bleu);
  color: var(--blanc);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h1{
  font-family: "Lato";
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 3.4rem;
}

header h2{
  color: var(--blanc);
  font-family: "Lato";
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.photo-profil{
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 5px solid var(--blanc);
}

.photo-profil:hover{
  cursor: zoom-in;
}

.header-right{
  flex-basis: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

address{

  font-weight: 300;
  display: flex;
  gap: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

address a{
  color: var(--blanc);
  text-decoration: none;
  font-family: "Raleway";
  margin-bottom: 0.5rem;
  margin-top: 0;
  vertical-align: bottom;
}

.address-header{
  display: flex;
  flex-direction: column;
}

/* ASIDE*/

.separateur-aside{
  height: 2px;
  width: 100%;
  background-color: var(--gris-1);
  margin-bottom: 1rem;
}

.article-aside{
  margin-bottom: 2rem;
}

i{
  color: var(--bleu);
  font-size: 0.8rem;
}

.skills li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  list-style: none;
  margin: 0;
}

.skills{
  margin: 0;
  padding: 0;
}

.liste-langues li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  list-style: none;
}

.liste-langues{
  margin: 0;
  padding: 0;
}

.liste-aside{
  padding-left: 1rem;
  list-style-type: square;
}

.liste-aside li::marker{
  font-size: 1.3rem;
  color: var(--bleu);
}

.bold{
  font-family: "Raleway-Bold";
}

/* SECTION */

.separateur-section{
  height: 2px;
  width: 100%;
  background-color: var(--gris-1);
  margin-bottom: 1rem;
}

.indent{
  text-align: justify;
  text-indent: 2rem;
}

.list-section{
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-section li{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-left: 0 solid var(--bleu);
}

.list-section li:hover{
  background-color: var(--gris-1);
  border-left-width: 0.3rem;
  margin-right: 0.5rem;
}

.list-section p{
  font-family: "Raleway-Italic";
  color: var(--noir);
  font-size: 0.7rem;
}

.date{
  font-family: "Raleway";
  color: var(--bleu);
  white-space: nowrap;
  align-self: center;
}


/* FOOTER */

footer{
  display: flex;
  flex-direction: column;
  background-color: var(--bleu);
  color: var(--blanc);
  padding-top: 0;
  padding-bottom: 0;
}

footer time{
  font-family: "Raleway-Italic";
  font-weight: 300;
  opacity: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}


footer img{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 30px;
  height: 30px;
}

footer img:hover{
  opacity: 50%;
}

.footer{
  display: flex;
  justify-content: center;
  gap: 1rem;
}