/* Variables */
:root{
  --bleu : rgb(23, 171, 179);
  --noir : rgb(51, 51, 51);
  --blanc : rgb(227, 227, 227);
  --gris-1 : rgb(245, 245, 245);
  --gris-2 : rgb(255, 255, 255);
}
/* Bases */
@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-italic.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Lato", sans-serif;
}
/* GLOBAL*/
*{
  box-sizing: border-box;
}
body{
  max-width: 1160px;
  margin: auto;
}
/* HEADER */
img{
  margin: auto;
}
header{
  display: flex;
  align-items: center;
  background-color: var(--bleu);
  color: var(--blanc);
}
h1{
  display: flex;
  justify-content: center;
  font-weight: 2rem;
  padding: 0;
  margin: 0;
}
.header{
  display: flex;
  flex-direction: column;
  margin: auto;
}