@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.ttf) format(truetype);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway-Bold";
  src: url(../fonts/raleway-bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Raleway-Italic";
  src: url(../fonts/raleway-italic.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Variables */
:root{
  --bleu : rgb(23, 171, 179);
  --noir : rgb(51, 51, 51);
  --gris-1 : rgb(227, 227, 227);
  --gris-2 : rgb(245, 245, 245);
  --blanc : rgb(255, 255, 255);
}

/* GLOBAL*/

*{
  box-sizing: border-box;
}
body{
  font-family: "Lato";
  max-width: 1160px;
  margin: auto;
}

main{
  display: flex;
}
aside{
  width: 30%;
  background-color: var(--gris-2);
  padding-left: 2rem;
}
section{
  width: 100%;
  background-color: var(--blanc);
  padding-left: 2rem;
}
h1{
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
h2{
  font-family: "Raleway";
  color: var(--bleu); 
}

.separateur{
  height: 2px;
  width: 70%;
  background-color: var(--gris-1);
  margin: 1rem 0;
}

ul{
  text-transform: uppercase;
  color: var(--bleu);
}
/* HEADER */

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--bleu);
  color: var(--blanc);
}

header h2{
  color: var(--blanc);
}

.photo-profil{
  flex-basis: 30%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 5px solid var(--blanc);
}

.header-right{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

address{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 5rem 0 5rem;
}
address p{
  display: flex;
  align-items: center;
}

address a{
  color: var(--blanc);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
}
.icon-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  background-color: var(--bleu);
  color: var(--blanc);
}
footer p{
  display: flex;
  justify-content: center;
}
footer img{
  display: flex;
  gap: 1rem;
  width: 30px;
  height: 30px;
}
.footer{
  display: flex;
  justify-content: center;
}